<div class="container">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <div class="dropdown">
          <button id="dLabel" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_search %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel" id="dropdown-lang">
            <li><a href="">Unpublished</a></li>
            <li><a href="">Need sources</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
