<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="profile-username"><%= current_user.username %></span> <span class="profile-title"><%= title_string %></span>
    </div>
  </div>
</div>
