<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @user %>
      <span class="profile-username"><%= @user.username %></span> <span class="profile-title"><%= title_string %></span>
      <% else %>
      <center><h1>Error: Account not found</h1></center>
      <% end %>
    </div>
  </div>
</div>
