<div class="container">
  <div class="row" id="row-1">
    <div class="col-md-6 homepage-block" id="featured">
      <span class="homepage-headline" id="featured-title">Featured Article</span>
      <hr>
      <div class="row">
        <div class="col-sm-2">
          <div class="image-block">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Portrait_Gandhi.jpg/330px-Portrait_Gandhi.jpg">
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <div class="article-information">
            <span class="article-title"><%= @featured_article.current_rev %></span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus nisl quis justo suscipit accumsan eget id ipsum. Aenean et odio leo. Integer hendrerit nec nunc id sagittis. Curabitur varius consectetur nibh non vehicula. Aenean efficitur ligula a nunc tristique, non condimentum ex tempus. Cras vestibulum eleifend mi, ut porta erat sodales ut. Maecenas ullamcorper sapien non nisi aliquet, ut varius nisi lobortis. Aenean pretium eget est at laoreet. Aliquam sagittis libero augue, a convallis arcu hendrerit nec. Praesent lobortis quis diam at molestie. Suspendisse eget vulputate velit. Integer vitae tempus eros. Etiam eget commodo lacus. Vestibulum dapibus, arcu volutpat scelerisque vestibulum, purus diam feugiat enim, non hendrerit turpis nisl nec ante.
          </div>
        </div>
    </div>
    </div>



    <div class="col-md-6 homepage-block">
      <span class="homepage-headline">Newest</span>
      <hr>
      <div class="row">
        <div class="col-sm-2">
          <div class="image-block">
            <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Portrait_Gandhi.jpg/330px-Portrait_Gandhi.jpg">
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <div class="article-information">
            <span class="article-title">Ghandi</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus nisl quis justo suscipit accumsan eget id ipsum. Aenean et odio leo. Integer hendrerit nec nunc id sagittis. Curabitur varius consectetur nibh non vehicula. Aenean efficitur ligula a nunc tristique, non condimentum ex tempus. Cras vestibulum eleifend mi, ut porta erat sodales ut. Maecenas ullamcorper sapien non nisi aliquet, ut varius nisi lobortis. Aenean pretium eget est at laoreet. Aliquam sagittis libero augue, a convallis arcu hendrerit nec. Praesent lobortis quis diam at molestie. Suspendisse eget vulputate velit. Integer vitae tempus eros. Etiam eget commodo lacus. Vestibulum dapibus, arcu volutpat scelerisque vestibulum, purus diam feugiat enim, non hendrerit turpis nisl nec ante.
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="row" id="row-2">
    <div class="col-md-5 homepage-block">
      <span class="homepage-headline">Most Viewed</span>
      <hr>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 homepage-block">
      <span class="homepage-headline">On This Day</span>
      <hr>
    </div>
  </div>
</div>
