<div class="container">
  <div class="row" id="row-1">
    <div class="col-md-6 homepage-block" id="featured">
      <span class="homepage-headline" id="featured-title">Featured Article</span>
      <hr>
      <div class="image-block">
        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Portrait_Gandhi.jpg/330px-Portrait_Gandhi.jpg">
      </div>

      <div class="article-information">
        <span class="article-title">Mahatma Gandhi</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin semper mi ac ornare. Nunc cursus ex sit amet erat placerat tincidunt id vel magna. Aliquam hendrerit sodales lorem, non vehicula elit dignissim elementum. Vestibulum interdum nisl a orci consectetur porttitor. Ut iaculis et risus quis vestibulum. Vivamus in efficitur neque. Integer blandit, tellus eget blandit mollis, enim risus bibendum metus, ut dictum nisl neque tincidunt elit. Praesent lorem quam, interdum at varius quis, iaculis id lorem. Sed malesuada elit porttitor erat gravida interdum.

Praesent tincidunt imperdiet urna, elementum ultrices est tempor sit amet. Sed id tellus sit amet elit fringilla rhoncus. Ut iaculis scelerisque nunc, vel sagittis leo vehicula rhoncus. Praesent dui diam, convallis dictum justo ac, maximus porttitor erat. Nunc consequat felis tellus, ac varius dolor ornare eu. Etiam in sapien lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae ullamcorper lacus, quis facilisis risus. Curabitur ultrices ut diam in viverra. Morbi fringilla ante pharetra, viverra tellus vestibulum, egestas lectus. Vivamus fermentum venenatis sem ut pharetra.
Nulla facilisi. Cras vel posuere tortor. Fusce faucibus pellentesque sodales. Aenean mollis eleifend justo, ac mattis ante condimentum et.

      </div>
    </div>
    <div class="col-md-6 homepage-block">
      <span class="homepage-headline">Newest</span>
      <hr>
    </div>
  </div>

  <div class="row" id="row-2">
    <div class="col-md-5 homepage-block">
      <span class="homepage-headline">Most Viewed</span>
      <hr>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 homepage-block">
      <span class="homepage-headline">On This Day</span>
      <hr>
    </div>
  </div>
</div>
