body {
  background-color: #F8F8F8;
  font-family: 'Inconsolata', monospace;
}

#errors {
  color: red;
  font-size: 18px;
  text-align: center;
}

.container {
  width: 100% !important;
}

.homepage-headline {
  font-size: 32px;
}

.article-information {
  display: inline-block;
  float: left;
  text-align: left;
}

.article-title{
  display: block;
  font-size: 20px;
}

hr {
  border-color: black !important;
}

.navbar {
  background-color: #bdbdbd;
  font-color: white !important;
}

.homepage-block {
  height: 500px !important;
  text-align: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.image-block {
  height: 175px;
  width: 175px;
  display: inline-block;
  float: left;
}

@media (max-width: 1210px) {
  .article-information {
    padding-left: 30px;
  }
}
